<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>32975817049-tbhlj7hv44im3l06dr40naie35ua890i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.32975817049-tbhlj7hv44im3l06dr40naie35ua890i</string>
	<key>API_KEY</key>
	<string>AIzaSyDT_W-YM9JH_poWjj5pA2uIHzRPlhP_odc</string>
	<key>GCM_SENDER_ID</key>
	<string>32975817049</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.repege</string>
	<key>PROJECT_ID</key>
	<string>repege-project</string>
	<key>STORAGE_BUCKET</key>
	<string>repege-project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:32975817049:ios:9f1672c1630141d90a6448</string>
</dict>
</plist>